.bodyformulir{
    background: url("/static/images/calendar.jpg") no-repeat center fixed !important;
    width: 100%;
    /* background-position: absolute; */
    background-size:cover !important;
    margin: 0;
    text-align: center;
    color: #765C34;
}

.bodyformulir2{
    background: url("/static/images/white.jpg") no-repeat center fixed !important;
    width: 100%;
    /* background-position: absolute; */
    background-size:cover !important;
    margin: 0;
    text-align: center;
    color: #765C34;
}
.jadwal {
    font-family: Muli !important;
    font-weight: normal;
    padding-top : 2%;
    margin-bottom: 3%;
    margin-left: 3%;
    font-size: 2vw;
    line-height: 3vw;
    text-align : center;
    color: #765C34;
}

body {
    background: url("/static/images/aboutme.jpg") no-repeat center fixed;
    background-size: cover;
    margin: 0;
}

.bodygallery {
    background: url("/static/images/gallery.jpg") no-repeat center fixed;
    background-size: cover;
    margin: 0;
}

.imgprof {
    border-radius: 50%;
}

.headeraboutme {
    padding: 60px;
    text-align: center;
    background: none;
    color: white;
    font-size: 30px;
}

.content {
    padding: 20px;
}

.font {
    font-size:18px; 
    font-family: "Barlow";
    text-align:center;
    color: black;
}

* {
    box-sizing: border-box;
}

.box {
    float: left;
    margin: 0;
    width: 25%;
    padding: 30px;
    opacity: 0.8;
}

.boxform {
    float: center !important;
    margin-top: 5%;
    width: 45%;
    padding: 30px;
    opacity: 0.8;
    display: inline-block;
    text-align:center;
}

.judulaboutme {
    position: relative;
    display: inline-block;
    text-shadow: 3px 2px #2E1C1D;
    color: #B19634;
}

ul.daftar {
    list-style-type:circle;
}


/*  */

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }


.bodystory {
    background-image: url("/static/images/recent.jpg");
    background-position: relative center center;
    background-repeat: no-repeat;
    width: 1400px;
    height: 750px;
    background-size: cover;
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.aboutme {
    background-image: url("/static/images/aboutme.jpg");
    background-position: relative center center;
    background-repeat: no-repeat;
    width: 1400px;
    height: 750px;
    background-size: cover;
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.header {
    font-family: Stardos Stencil;
    font-style: normal;
    font-weight: normal;
    line-height: 64px;
    text-align: center;
    color: #765C34;
}

#header1 {
    position: fixed;
    width: 90px;
    height: 32px;
    left: 649px;
    top: 100px;
    font-size: 300%;
   
}

#header2 {
    position: fixed;
    width: 758px;
    height: 135px;
    left: 324px;
    top: 160px;
    font-size: 500%;
   
}

.click {
    font-family: Stardos Stencil;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    color: #B19634;
    text-decoration: none;
}

#clickAboutMe {
    position: absolute;
    width: 141px;
    height: 32px;
    left: 500px;
    top: 321px;
}

#clickGallery {
    position: absolute;
    width: 138px;
    height: 31px;
    left: 797px;
    top: 321px;
}

#clickFormulir {
    position: absolute;
    width: 138px;
    height: 32px;
    left: 666px;
    top: 320px;
}

.judul {
    position: absolute;
    font-family: Stardos Stencil;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 138px;
    text-align: center;
    color: #765C34;
}


#perkenalan {
    position: absolute;
    width: 380px;
    height: 421px;
    left: 510px;
    top: 238px;
    font-family: STFangsong;
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    line-height: 35px;
    text-align: center;
    color: #765C34;
}

.foto {
    position: fixed;
    width: 200px;
    height: 200px;
    left: 969px;
    top: 350px;
    border-radius: 50%;
}

.logoku {
    position: absolute;
    width: 42px;
    height: 41px;
    left: 1225px;
    top: 659px;
    border-radius: 50%;
}

.logo {
    position: fixed;
    width: 20px;
    height: 20px;
}

#logoSpotify {
    left: 476px;
    top: 530px;
}

#logoInstagram {
    left: 475px;
    top: 560px; 
}

#logoLinkedIn {
    left: 476px;
    top: 585px;
}

#logoTwitter {
    left: 476px;
    top: 610px;
}

.nama {
    position: absolute;
    width: 209px;
    height: 28px;

    font-family: Stardos Stencil;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

#namaSpotify {
    left: 475px;
    top: 530px;
    color: #B19634;
}

#namaInstagram {
    left: 476px;
    top: 560px;
    color: #765C34;
}

#namaLinkedIn {
    left: 475px;
    top: 582px;
    color: #B19634;
}

#namaTwitter {
    left: 475px;
    top: 607px;
    color: #765C34;
}


.btn {
    background-color: #765C34;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
  }



