<!DOCTYPE html>
{% load static %}
    <html>
      <head>
        <title> My Biography </title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/story3.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow">
      </head>

      <body>
          <form action="{% url 'homepage:story3' %}">
              <button class="btn" type="submit">BACK</button>
          <div class="headeraboutme">
              <div class="judulaboutme"><h1>STEFAN SAGALA</h1>
              </div>
              <br>
              <p class="font">I am capable to write in English and Bahasa Indonesia. <br>
                I am also capable to code in Python and Java. </p>
              <img class="imgprof" src = "{% static 'images/quanta.jpg' %}" height = 200 width = 200 align="center"> </img>
          </div>
    
        <div class="content">
        <div class="font">

          <div class="box" style="background-color:#765C34">
                <p>My name is Stefan Kenichi <br> Soaloon Sagala. My friends <br> usually call me Stefan. I am <br> creative and I consider 
                    <br> myself as a perfectionist. <br> Ironically, I don’t really <br> depend on the result of <br> every work I do. Instead, I  
                    <br> love analyzing myself <br> growing through the <br> process of learning and <br> making. </p>
          </div>

          <div class="box" style="background-color:#A77427">
                <p>STUDY</p>
                <p><strong>Information System</strong></p>
                <p>UNIVERSITY</p>
                <p><strong>University of Indonesia</strong></p>
                <p>BATCH</p>
                <p><strong>2018</strong></p>
                <p>STUDENT NUMBER</p>
                <p><strong>1806191465</strong></p>
          </div>

          <div class="box" style="background-color: #C78726">
                <p>INTEREST
                        <ul class="daftar">
                        <li>MUSIC</li>
                        <li>CONCERTS</li>
                        <li>CREATIVE WORKING</li>
                        <li>BOOKS</li>
                        <li>MOVIES</li>
                        </ul>
                        </p>
          </div>

          <div class="box" style="background-color: #634415">
                  <p> HOBBIES 
                    <ul class="daftar">
                    <li>listening to the music</li> 
                    <li>going to music shows</li> 
                    <li>traveling</li>
                    <li>strolling around</li>
                    <li>sleeping</li>
                    <li>reading books</li>
                    <li>writing</li> 
                    <li>watching movies</li>
                    </ul> 
                  </p>
          </div>

        </div>
        </div>
      </body>
    </html>
