<!DOCTYPE html>
{% load static %}
    <html lang="en">
       
      <head>
        <title> Gallery </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/story3.css' %}">
        <!-- <link rel="stylesheet" href="bootstrap.min.css"> -->
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Rock+Salt|Rufina|Ruthie|Stardos+Stencil&display=swap" rel="stylesheet">
      </head>

      <body>
      <div class="bodygallery">
      <form action="{% url 'homepage:story3' %}">
      <button class="btn" type="submit">BACK</button>
      <div class="row">
            <div class="column">
                <img src="{% static 'images/indie1.jpg' %}">
                <img src="{% static 'images/indie2.jpg' %}">
                <img src="{% static 'images/indie3.jpg' %}">
            </div>
            <div class="column">
                <img src="{% static 'images/indie4.jpg' %}">
                <img src="{% static 'images/indie5.jpg' %}">
                <img src="{% static 'images/indie6.jpg' %}">
            </div>
            <div class="column">
                <img src="{% static 'images/indie7.jpg' %}">
                <img src="{% static 'images/indie8.jpg' %}">
                <img src="{% static 'images/indie9.jpg' %}">
            </div>
            <div class="column">
                <img src="{% static 'images/indie10.jpg' %}">
                <img src="{% static 'images/indie11.jpg' %}">
                <img src="{% static 'images/indie12.jpg' %}">
            </div>
            <div class="column">
                <img src="{% static 'images/indie13.jpg' %}">
                <img src="{% static 'images/indie14.jpg' %}">
                <img src="{% static 'images/indie15.jpg' %}">
            </div>
            <div class="column">
                <img src="{% static 'images/indie16.jpg' %}">
                <img src="{% static 'images/indie17.jpg' %}">
                <img src="{% static 'images/indie18.jpg' %}">
            </div>
            <div class="column">
                <img src="{% static 'images/indie19.jpg' %}">
                <img src="{% static 'images/indie20.jpg' %}">
                <img src="{% static 'images/indie21.jpg' %}">
            </div>
            <div class="column">
                <img src="{% static 'images/indie22.jpg' %}">
                <img src="{% static 'images/indie23.jpg' %}">
                <img src="{% static 'images/indie24.jpg' %}">
            </div>
          </div>

      </div>
          </body>
      </html>