<!DOCTYPE html>
<html>
	{% load static %}
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
     <link rel="stylesheet" type="text/css" href="{% static 'css/story3.css' %}"> 
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     
	 <!-- <link rel="stylesheet" href={% static 'css/bootstrap.css' %}>
	 <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %}>
	 <link rel="stylesheet" href={% static 'js/bootstrap.js' %}>
     <link rel="stylesheet" href={% static 'js/bootstrap.min.js' %}> -->
     
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<head>
	<title>Create Schedule</title>
</head>
<body class="bodyformulir2">
    <!-- {% block content %} -->
    <div class="paragprah">
    <h1 class="d-flex align-items-center justify-content-center">My Schedule</h1>
    <div class="article">
        <div class="d-flex align-items-center justify-content-center">
            <a href="{% url 'homepage:schedule_create' %}"><button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-pencil"></span> 
                Add Schedule
                </button></a>
            <a href="{% url 'homepage:schedule_delete' %}">
                <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-trash"></span> 
                Reset Data
                </button>
            </a>
        </div>
        <!-- <div class="boxform" style="background-color:black"> -->
        <div class="jadwal">
        <div class="article">
            <div class="row">
                {% for schedule in schedules %}

                    <div class="col-sm-4 text-center">
                        <h2 class="act">{{ schedule.kegiatan }}</h2>
                        <p>{{ schedule.hari }}<br>
                            {{ schedule.waktu }}<br>
                            {{ schedule.tempat }}<br>
                            {{ schedule.kategori }}</p>
                    </div>

                {% endfor %}
            </div>
        </div>
        </div>
        <!-- </div> -->
    </div>
    </div>
    <!-- {% endblock %} -->
    </div>
    
</body>
</html>
