<!DOCTYPE html>
{% load static %}
    <!-- <html lang="en"> -->
      <head>
        <title> STEFAN SAGALA </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/story3.css' %}">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Rock+Salt|Rufina|Ruthie|Stardos+Stencil&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->
      
      
      </head>

      <body>
          <div class="bodystory">

            <h3 class="header" id="header1">MEET</h3>
            <h2 class="header" id="header2">STEFAN <br> SAGALA</h2>
              <p id="clickAboutMe">
                <a href="{% url 'homepage:about_me' %}" class="click">ABOUT ME</a>
              </p>
              <p id="clickGallery">
                <a href="{% url 'homepage:gallery' %}" class="click">GALLERY</a>
              </p>

              <p id="clickFormulir">
                <a href="{% url 'homepage:schedule' %}" class="click">FORM</a>
              </p>
    
              <img src="{% static 'images/spotify.png' %}" class="logo" id="logoSpotify"> </img>
              <img src="{% static 'images/ig.png' %}" class="logo" id="logoInstagram"> </img>
              <img src="{% static 'images/linkedin.png' %}" class="logo" id="logoLinkedIn"> </img>
              <img src="{% static 'images/twitter.png' %}" class="logo" id="logoTwitter"> </img>
    
              <p class="nama" id="namaSpotify">Stefan Sagala</p>;
              <p class="nama" id="namaInstagram">@iisbon</p>
              <p class="nama" id="namaLinkedIn">Stefan Sagala</p>
              <p class="nama" id="namaTwitter">@anaklndie</p>
    
              <img src="{% static 'images/logoku.jpeg' %}" class="logoku"></img>
               
        </div>
      </body>